/* Remove the outline when the editor is focused */
.cm-focused {
  outline: none !important;
}

/* Padding for the input box */
.cm-scroller > div {
  padding: 6px 8px !important;
}

.cm-cursor {
  border-color: #fff !important;
}